*.pickle
*.png
*.pdf
.ipynb_checkpoints

*.mat
*.h5
*.pyc
*.npy
*.npz
*-checkpoint.ipynb
*~
*.swp

exp_*/data/*
exp_*/tfmodel
exp_*/tfmodel/*
exp_*/results*
exp_*/results*/*
exp_*/tb
exp_*/tb/*
exp_*/log/*
exp_*/__obsolete__/*
exp_*/eval_outputs*/*
exp_vqa/vqa_dataset/
exp_vqa/coco_dataset
exp_clevr_snmn/clevr_dataset/

*.caffemodel
*.tfmodel*

*-Copy*.ipynb

checkpoint
.DS_Store
events.out.tfevents.*
